@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
* {-webkit-tap-highlight-color: transparent !important; outline: none !important;}
body, a{
    background-color: black;
    margin: auto;
    font-family: Roboto;
    font-style: normal;
    color: white;
    text-decoration: none;
}
.eficensy{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}
.case{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.case-button{
    padding: 10px 10px;
    margin: 25px;
    background-color: rgb(181, 181, 181);
    border-radius: 100px;
}