@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
* {-webkit-tap-highlight-color: transparent !important; outline: none !important;}
body, a{
    background-color: black;
    margin: auto;
    font-family: Roboto;
    font-style: normal;
    color: white;
    text-decoration: none;
}
.cas-box{
    margin-top: -15px;
}
.info{
    display: flex;  
    background: #1fadff;
    border-radius: 100%;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 15px;
    width: 5%;
    height: 5%;
}
.efi-cl{
    display: none;
}
.eficensy{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.debug{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 25px;
}
.box{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.case{
    background: #565656;
    border-radius: 50px;
    padding: 25px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.case-button{
    padding: 10px 10px;
    margin: 25px;
    background-color: rgb(181, 181, 181);
    border-radius: 100px;
}
.case-button-open{
    padding: 10px 10px;
    margin: 25px;
    background-color: rgb(181, 181, 181);
    border-radius: 100px; 
    cursor: pointer;
}
.case-button-open:hover{
    background: linear-gradient(90deg, #cdcdcd, #c6c6c6, #565656, #c6c6c6,#cdcdcd, #cdcdcd);
    background-size: 500% 500%;
    animation: Gradient 5s ease infinite;

}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none;
    user-select: none; 
    }
@keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
@keyframes legendar {
    0% {
        background-position: 0% 50%;
      }
    50% {
        background-position: 100% 50%;
      }
    100% {
        background-position: 0% 50%;
      }
}